body {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0E1122;
    color: #fff;
}

/* header et footer css début  */
header,footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.header{
    width: 10%;
    height: 100px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
}

.header img{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.footer{
    width: 30%;
    height: 200px;
    display: flex;
    border: none;
    border-radius: 25px;
    flex-direction: column;
    text-decoration: none;
    text-align: start;
    cursor: pointer;
}

.footer a{
    text-decoration: none;
    color: #fff;
}
.footer a:hover{
    color: #5FA4A1;
}

.footer ul{
    padding: 0;
    margin: 0;
}
.footer li{
    list-style: none;
    /* margin: 10px 0; */
}

.footer img{
    width: 60%;
    height: auto;
    cursor: pointer;
}


#bar-search {
    width: 35%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    padding: 0 15px;
    margin: 20px auto;
    gap: 20px;
}

#bar-search form {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

#bar-search input[type="text"] {
    width: 90%;
    height: 60px;
    border: none;
    border-radius: 30px;
    padding: 0 15px;
    font-size: 16px;
    color: #333;
    outline: none;
}

#bar-search button {
    width: 10%;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
}
#bar-search button img {
    width: 30px;
    height: 30px;
}

/* header et footer css fin  */



.swiper {
    width: 100%;
    height: 500px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #233d24;
}

.swiper-slide img{
    width: 75%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

}


.barre{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.calendrier{
    width: 18%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: rgb(66, 224, 224);
    align-items: center;
    flex-direction: column;
}

.calendrier img{
    width: 95%;
    height: auto;
    object-fit: cover;
}
.contenue{
    width: 10%;
    height: 100px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    background-color: #5FA4A1;
}

.contenue img{
    width: 100%;
    height: auto;
    display: flex;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}







#sortie{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 16%);
    justify-content: space-around;
    grid-gap: 10px;
}

.contenue3 {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 199, 199);
    border-radius: 25px;
    margin: 10px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}
/* CSS de la page de connexion et inscription */
#carousel {
    position: relative;
    width: 100%;
    max-width: 550px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 3%;
    overflow: hidden;
    border-radius: 10px;
    /* background-color: aquamarine; */
}

.contenue-carrousel {
    display: flex;
    flex-direction: row;
}

.carousel-slide {
    width: 100%;
    min-height: 600px;
    height: auto;
    flex: 0 0 100%;
    display: none;
    background-color:#C81B51;
    color: white;
    align-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.carousel-slide:last-child {
    background-color:#4C0C3E;
}
.carousel-slide input {
    width: 60%;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    align-items: center;
}
.carousel-slide button {
    background-color: #2a384371;
    color: white;
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    font-size: larger;
    align-items: center;
    border: none;
    cursor: pointer;
}

.carousel-slide button:hover {
    background-color:#2a3843fa;
}

#move{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#move:hover{
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

#vueimage img{
    width: 150px;
    height: auto;
}

@media screen and (max-width: 850px) {
    #carousel {
        width: 90%;
        height: auto;
        font-size: 12px;
        margin-top: 8%;
    }
    .carousel-slide {
        height: auto;
        min-height: 400px;
    }
    .carousel-slide input {
        height: 10px;
        padding: auto;
        align-items: center;
    }
    .carousel-slide button {
        padding: 10px;
    }
    #move{
        font-size: 12px;
    }
    #vueimage img{
        width: 100px;
        height: auto;
    }
}

#espace-user {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center
}

#espace-user img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#espace-admin {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
#espace-admin h1 {
    margin-bottom: 20px;
    text-align: center;
}

#livres ,#chapitres {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.input-groupe {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-groupe input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-groupe select{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#multiple-choix {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    flex-direction: column;
}

#multiple-choix .input-groupe {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;
}

#espace-admin button {
    width: 20%;
    padding: 15px;
    border: 1px solid #5FA4A1;
    background-color: #5FA4A1;
    color: white;
    border-radius: 5px;
    outline: none;
}

#presentation {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: space-around;
    flex-direction: column;
}

.groupes {
    width: 100%;
    height: 400px;
    background-color: #009688;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

#chapitre{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 16%);
    justify-content: space-around;
    grid-gap: 10px;
}

.chapitre-item {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 199, 199);
    border-radius: 25px;
    margin: 10px;
}

#lecture {
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 20%;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-direction: column;
}

.lecture-info {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4C0C3E;
    border-radius: 25px;
    margin: 10px;
}


#navigation {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 20% 20%;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-direction: column;
}

.navigation-item {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #C81B51;
    border-radius: 25px;
    margin: 10px;
}